@model MealStack.Web.Models.MealPlanViewModel

<div class="shopping-list">
    @foreach (var categoryGroup in Model.ShoppingItems.GroupBy(item => item.Category ?? "Other").OrderBy(g => g.Key == "Other" ? "zzz" : g.Key))
    {
        <div class="shopping-category mb-4">
            <h5 class="shopping-category-header">@categoryGroup.Key</h5>
            <div class="list-group">
                @foreach (var item in categoryGroup.OrderBy(s => s.IngredientName))
                {
                    <div class="shopping-item @(item.IsChecked ? "checked" : "")"
                         data-item-id="@item.Id"
                         data-item-name="@item.IngredientName">
                        <div class="form-check">
                            <input class="form-check-input shopping-item-checkbox"
                                   type="checkbox"
                                   id="item-@item.Id"
                                   data-item-id="@item.Id"
                                   data-meal-plan-id="@Model.Id"
                                   checked="@item.IsChecked">
                            <label class="form-check-label shopping-item-label" for="item-@item.Id">
                                <span class="shopping-item-quantity">@item.DisplayAmount</span>
                                @item.IngredientName
                            </label>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>